#today-button {
    background-color: "#ebebeb";
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: black;
    outline: none;
    transition-duration: 0.25s;
    height: 30px;
    width: 200px;
     -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
   
    
}

#today-button:hover {
    background-color: #ae75ca;
    border: 1px solid #660199;
    box-shadow: 2px 2px 3px #660199;
}

 @media (min-width: 600px) {
    #today-button {
        font-size: 2em;
        height: 70px;
        margin: 5px;
        
    } 
}