#times-container {
    background-color: gray;
    display: flex;
    flex-wrap: column;
    justify-content: space-between;
}

.time-zone-card {
    margin: 20px;
}
@media (min-width: 600px) {

#times0container {
    flex-direction: row;
    flex-wrap: wrap;
    }
}